.chat {
    background-image: url("/static/img/chat-bg.png");
    background-size: cover;
    background-position: center;

    height: 80vh;
    overflow-y: auto;
    scrollbar-width: 0;

    display: flex;
    flex-direction: column-reverse;
}

.chat::-webkit-scrollbar {
    width: 0;
}

.message {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.5rem;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    float: left;
    margin: 0.5rem 1rem;
    clear: both;
}

.message:first-child {
    margin-bottom: 2rem;
}

.message::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    bottom: 10px;
    left: -10px;
}

.message span {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 0.75rem;
    position: relative;
    bottom: -4px;
}

.dayTitle {
    align-self: center;
    width: 3rem;
    padding: 0.25rem 0;
    margin: 0.5rem 0;

    font-weight: 500;
    text-align: center;
    
    color: white;
    background-color: #007aff;
    border-radius: 5px;
}
