.chat {
    z-index: 1;

    height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;

    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar {
        width: 0;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;

    &:first-child {
        margin-bottom: 5vh;
    }
}
.dayTitle {
    align-self: center;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;

    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: #007aff;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .chat {
        height: auto;
    }
}
