.demoSection {
    min-width: 427px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
        'Lucida Grande', 'Segoe UI';
    font-size: 67.5%;
    position: relative;
}

.blur {
    position: absolute;
    z-index: -1;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 50%;
    border-radius: 0rem;
    background: linear-gradient(180deg, #ef516d 0%, rgba(239, 81, 109, 0) 100%),
        radial-gradient(
            94.51% 124.88% at 94.32% 94.43%,
            rgba(65, 244, 255, 0.78) 0%,
            rgba(131, 218, 255, 0.6552) 32.29%,
            rgba(99, 175, 240, 0.3978) 64.06%,
            rgba(43, 90, 211, 0) 100%
        ),
        linear-gradient(313.04deg, #341d65 0.93%, #604aea 125.68%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
    filter: blur(100px);
}

.demoInfo {
    font-family: 'Poppins';
    text-align: center;
    h2 {
        color: #a3a3a3;
    }
}

@media only screen and (max-width: 1000px) {
    .demoSection {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .demoSection {
        width: 100%;
        min-width: auto;

        margin-top: 2rem;
    }
}
