.demoSection {
    min-width: 427px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;

    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
    font-size: 67.5%;
}

@media only screen and (max-width: 768px) {
    .demoSection {
        width: 100%;
        min-width: auto;
        height: 100vh;
    }
}
