html,
body {
  padding: 0;
  margin: 0;
  font-family: "Anonymous Pro", monospace;
  overflow: hidden;
  height: 100%

}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Colors */

:root {
  --primary-color: #021c19;
}

@media only screen and (max-width: 768px) {
  html, body {
    overflow-y: auto;
  }
}
