html,
body {
  padding: 0;
  margin: 0;
  font-family: "Anonymous Pro", monospace;
  overflow: hidden;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Colors */

:root {
  --primary-color: #021c19;
}
