html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
strong {
    color: #111111;
}

button a {
    text-decoration: none;
}

/* Loading Ring */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 5px;
        border: 2px solid #007aff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #007aff transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.infinite-scroll-component {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

// ------text transistion gradient------
.text-transition_inner {
    div {
        background: linear-gradient(
            89.51deg,
            #551199 2.48%,
            #48255d 23.19%,
            #961e65 40.17%,
            #d8274c 62.54%,
            #d8274c 99.7%
        );

        background-clip: text;
        color: transparent;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        overflow-y: auto;
    }
}
