.heading {
    padding: 2.5rem 2rem;

    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: -0.02em;

    max-width: 1440px;
    margin: 1.5rem auto;
}

.animated {
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 2rem;
        padding: 1rem;
    }
    .animated {
        margin: 0;
    }
}
