.main {
  height: 100vh;
  display: flex;
  background: url(/static/img/chat-bg.png);
  /* flex-wrap: wrap; */
}

@media only screen and (max-width: 768px) {
  .main {
    height: auto;
    flex-direction: column;
  }
}
