.main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1440px;
}

.nav {
    max-width: 1440px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 5rem;

    .brandTitle {
        font-weight: 700;
    }

    .cta {
        background-color: var(--theme-red);
        border: 1px solid var(--theme-red);
        border-radius: 10px;
        padding: 0.45rem 0.75rem;

        text-decoration: none;
        font-size: 0.75rem;
        font-weight: 600;

        strong {
            color: white;
            font-weight: 700;
        }

        &:hover {
            background-color: white;
            strong {
                color: #d8274c;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .nav {
        transition: all 0.1s;
        padding: 2rem;
    }
    .navSticky {
        z-index: 10000;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

        .nav {
            padding: 0.5rem 2rem;
        }
    }
    .main {
        height: auto;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        background: #fff;
    }
    .main {
        height: auto;
        flex-direction: column-reverse;
    }
}

.footer {
    text-align: center;
    color: #aaaaaa;
    padding: 1rem;
}
