.infoSection {
    color: white;
    background-color: var(--primary-color);

    padding: 4rem;
    width: 50%;
    height: 100%;
    
    overflow-y: auto;
    scrollbar-width: 0;
    /* display: none; */
}

.infoSection::-webkit-scrollbar{
    width: 0;
}

.infoSection p,
.infoSection li {
    line-height: 2rem;
}

.infoSection h1 {
    margin-bottom: 2rem;
}


@media only screen and (max-width: 768px) {
    .infoSection {
        width: 100%;
        padding: 2rem;
    }
}