.preview {
    background-color: rgb(245, 245, 245);
    display: flex;
    max-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-size: 90%;

    p {
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
    }

    sub {
        color: grey;
    }

    > div {
        padding: 0.5rem;
        align-self: center;
    }

    span {
        display: inline-block;
        max-width: 28%;
        width: 100%;
        height: auto;

        background-size: cover;
        background-position: center;
    }
}

.message {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.5rem;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    float: left;
    margin: 0.5rem 1rem;
    clear: both;
    word-wrap: break-word;

    &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: -10px;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
    }

    .datetime {
        color: rgb(170, 170, 170);
        float: right;
        font-size: 0.75rem;
        position: relative;
        bottom: -4px;
    }

    a {
        color: #007aff;
    }
}
