.preview {
    background-color: rgb(245, 245, 245);
    display: flex;
    max-height: 5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-size: 90%;
}

.preview p {
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
}

.preview sub {
    color: grey;
}

.preview > div {
    padding: 0.5rem;
    align-self: center;
}

.preview img {
    width: 28%;
    height: auto;
}

.message {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.5rem;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    float: left;
    margin: 0.5rem 1rem;
    clear: both;
}

.message::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}

.message span {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 0.75rem;
    position: relative;
    bottom: -4px;
}

.message a {
    color: #007aff;
}
