.whatsappDemo {
    min-width: 427px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;

    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
    font-size: 67.5%;

}
